<settings>
    <setting propertyKey="@Properties.tokenId" title="Token ID">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>

    <setting propertyKey="@Properties.InverterSerial" title="Inverter Serial">
        <settingConfig type="alphaNumeric" required="true" />
    </setting>

    <setting propertyKey="@Properties.RefreshPeriod" title="Time refresh period">
        <settingConfig type="numeric" required="true" min="60" />
    </setting>

    <setting propertyKey="@Properties.PeriodAfterError" title="Refresh period after error">
        <settingConfig type="numeric" required="true" min="15" />
    </setting>
</settings>